@media (min-width: 320px) AND (max-width: 450px) {
    #block-address iframe {
	   width: 300px;
    }	
    .expertise .field-content > ul li {
		width:90%;
	}
	.slide__constrained {
		position: absolute;
	}
	
	.tryus {
		width: 57%;
		padding: 3%;
		margin: 50px auto  !important;
	}
	.slick--skin--fullwidth .sldr-smry {
		font-size: 1.4em;
	}
	.slick--skin--fullwidth .slide__title {
		font-size: 2em;
	}
	.slick--skin--fullwidth .sldr-smry {
		margin: 20px 60px !important;
		min-height: 290px !important;
	}
}
@media (min-width: 451px) AND (max-width: 650px) {
    #block-address iframe {
	   width: 300px;
    }	
    .expertise .field-content > ul li {
		width:90%;
	}
	.slide__constrained {
		position: absolute;
	}
	
	.tryus {
		width: 41%;
		padding: 2%;
	}
	.slick--skin--fullwidth .sldr-smry {
	  font-size: 1.6em;
    }
    .slick--skin--fullwidth .slide__title {
     font-size: 3em;
    }
}
@media(min-width: 651px) AND (max-width: 767px) {
	#block-address iframe {
	   width: 600px;
    }
    .expertise  .field-content > ul li {
		width:90%;
	}

    .imac{
       margin-top: 20px
    }
	/** Our skills **/
    #block-views-block-our-skills-homepage-block-1 {
	  padding:22px;
    }
    .view-our-skills-homepage .view-content > .views-view-grid.horizontal.cols-4.clearfix {
	   margin-left: 22%;
    }
    .expertise  .field-content > ul li {
		width:44%;
	}
	.slide__constrained {
		position: absolute;
	}
	.tryus {
		width: 30%;
		padding: 1%;
	}
	.slick--skin--fullwidth .sldr-smry {
	  font-size: 2.5rem;
    }
    .slick--skin--fullwidth .slide__title {
     font-size: 6.5rem;
    }
  
}
@media (min-width: 768px) AND (max-width: 1023px) {
	.slide__constrained {
		position: absolute;
	}
	.sldr-smry {
		margin: 20px 60px !important;
	}
	.tryus {
		width: 30%;
		padding: 1%;
	}
	.expertise  .field-content > ul li {
		width:24%;
	}
	.slick--skin--fullwidth .sldr-smry {
	  font-size: 2.5rem;
    }
    .slick--skin--fullwidth .slide__title {
     font-size: 6.5rem;
    }
	.skills__item:hover .skills__description{
      display: block;
    }
}
@media(min-width: 1024px) AND (max-width: 1500px) {
	#block-address iframe {
	   width: 1000px; 
    }
    .expertise  .field-content > ul li {
		width:24%;
	}
    .tryus {
		width: 30%;
		padding: 1%;
	}
	.slick--skin--fullwidth .sldr-smry {
	  font-size: 2.5rem;
    }
    .slick--skin--fullwidth .slide__title {
     font-size: 6.5rem;
    }
	.skills__item:hover .skills__description{
      display: block;
    }
}