@import url("media-queries.css");
body{
     font-family: 'Dosis', sans-serif;
     margin-top: 0;
}
p{
     font-family: 'Montserrat', sans-serif;
}
a{
     font-family: 'Dosis', sans-serif;
     text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
     font-family: 'Dosis', sans-serif;
}
/*Header*/
.navbar-default .navbar-nav>li>a {
    color: #777;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a:hover{
     color: #f74d65;
}
.navbar-default .navbar-brand {
     color: #000;
     text-transform: uppercase;
     font-weight: bold;
     font-size: 30px;
}
.navbar {
     min-height: 70px;
}
header{
    /*background: url(../images/header_bg.jpg);
    */
     background-size: cover;
     background-repeat: no-repeat;
}
.section_overlay{
     background: rgba(250,250,250, .5);
}
.home_text{
     padding-top: 210px;
     padding-bottom: 210px;
}
.home_text h2{
     color: #010101;
     font-size: 40px;
     text-transform: uppercase;
     letter-spacing: 13px;
}
.home_text p{
     color: #404040;
     font-size: 14px;
     text-transform: uppercase;
}
.home_text img{
}
.scroll_down{
     padding-bottom: 50px;
}
.scroll_down h4{
     font-size: 12px;
     color: #000;
     font-family: 'Montserrat', sans-serif;
     text-transform: uppercase;
}
/*Services*/
.services{
     padding-top: 50px;
}
.services .container{
     border-bottom: 1px solid #ddd;
}
.single_service{
     padding-bottom: 40px; 
}
.single_service i{
     font-size: 25px;
     color: #f73b56;
}
.single_service h2{
     color: #000000;
     font-size: 25px;
     text-transform: uppercase;
}
.single_service p{
     color: #404040;
     font-size: 15px;
}
.single_progress_bar .progress {
    height: 7px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #d5d5d5;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar {
    background-color: #2d3334;
}
.progress-bar {
    -webkit-animation-name: progress; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: progress;
    animation-duration: 5s;
	-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes progress {
    from {width: 1%;}
}

/* Standard syntax */
@keyframes progress {
    from {width: 1%}
}
.single_progress_bar h2{
     color: 000;
     font-size: 15px;
     font-weight: 400;
}
.about_us_p{
     font-size: 15px;
     color: #272727;
     margin-top: 20px;
     margin-bottom: 10px;
     line-height: 21px;
}
h2.topics{
     color: #3d3d3d;
     text-transform: uppercase;
     letter-spacing: 6px;
}

/*Testimonial*/
.testimonial{
     padding-top: 130px;
     padding-bottom: 80px;
}
.testimonial{
}
/*.testimonial .icon:after{
     content: "";
     position: absolute;
     width: 80px;
     height: 80px;
     background-color: #f73b56;
     top: 110px;
     left: 50%;
     -moz-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     margin-left: -40px;
}
*/
.testimonial .icon i{
    color: #fff;
    font-size: 47px;
    position: absolute;
    z-index: 555;
    left: 50%;
    margin-left: -23px;
}
.single_testimonial p{
    color: #404040;
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1px;
    padding-top: 110px;
}
.single_testimonial h4{
     color: #404040;
     font-size: 15px;
     text-transform: uppercase;
     font-family: 'Montserrat', sans-serif;
     letter-spacing: 1px
}
/*Fun Facts*/
.fun_facts{
     background: url(../images/header_bg.jpg);
     background-attachment: fixed !important;
     background-repeat: repeat;
}
.fun_facts .section_overlay{
    background: rgba(71,71,71,.8);
    padding-bottom: 30px;
}
.single_count{
    padding-top: 120px;
}
.single_count i{
     color: #f73b56;
     font-size: 24px;
}
.single_count h3{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0px;
}
.single_count p{
    font-family: 'Dosis', sans-serif;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
}
.single_count p:before{
    content: "";
    position: absolute;
    width: 16px;
    height: 1px;
    left: 0;
    bottom: -4px;
    background: #ef4251;
}
.imac{
    position: relative;
    margin-top: -40px;
}
.imac img{
     width: 100%;
}

.single_image{
     margin-right: 3px;
     position: relative;
     transition: all 1s;
}
.single_image img{
     width: 100%;
}
.single_image:hover div.image_overlay{
     opacity: 1;
}
.image_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(247,77,101,.9);
    left: 0;
    top: 0;
    opacity: 0;
     transition: all 1s;
}
.image_overlay a{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.image_overlay h2{
    position: absolute;
    bottom: 28px;
    left: 20px;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.image_overlay h4{
    position: absolute;
    bottom: 11px;
    left: 20px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}
.no_padding{
     padding-left: 0px;
     padding-right: 0px;
}
.work_title{
}
.work_title h1, .contact_title h1{
     font-size: 25px;
     color: #3d3d3d;
     letter-spacing: 5px;
     padding-top: 80px;
     text-transform: uppercase;
     margin-bottom: 20px;
}
.work_title img, .contact_title img{
     margin-bottom: 30px;
}
.work_title p, .contact_title p{
     font-size: 15px;
     color: #000;
     margin-bottom: 100px;
}
.last_padding {
     padding-right: 0px;
}
.pad_top {
     padding-top: 2px;
}
.left h2{
     margin-top: 60px;
     margin-bottom: 20px;
     font-size: 18px;
     color: #000;
     font-weight: bold;
}
.left p{
     margin-bottom: 60px;
     font-size: 15px;
     color: #000;
}
.baton{
     margin-top: 65px;
}
.cs-btn, .cs-btn:active, .cs-btn:visited, .cs-btn:focus{
     color: #fff;
     background-color: #000;
     border-radius: 0px;
     outline: none;
     padding: 10px 40px;
     text-transform: uppercase;
     letter-spacing: 2px;
     transition: all 1s;
}
.cs-btn:hover{
     background: #f74d65;
     border-color: #f74d65;
}
.call_to_action .container{
     padding-bottom: 60px;
     border-bottom: 1px solid #ddd;
}
/*Contact*/
.single_contact_info{
    padding-bottom: 21px;
}
.single_contact_info h2{
    text-transform: uppercase;
    color: #3d3d3d;
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 1px;
}
.single_contact_info p{
    font-size: 15px;
    color: #3d3d3d;
}
.contact-form{
    background-color: #f1f1f1;
    padding: 30px;
}
.contact-form .form-control{
    height: 43px;
    border-radius: 0px;
    margin-bottom: 20px;
    border: 0px solid #fff;
}
.contact-form #message{
     height: 104px;
}
.form_submit{
    width: 100%;
    background: #f73b56;
    border-radius: 0px;
    color: #fff;
    padding-top: 13px;
    padding-bottom: 10px;
    transition: all 1s;
}
.work-with {
    padding-bottom: 60px;
    padding-top: 10px;
}
.work-with h3{
     font-size: 15px;
     color: #636363;
     text-transform: uppercase;
}
/*Footer*/
footer{
     background-color: #f1f1f1;
	 border-top:2px solid #337ab7;
     /*
	 padding-top: 50px;
     padding-bottom: 50px;
	 */
}
.footer_logo{
}
.footer_logo img{
}

.social h2{
    text-transform: uppercase;
    font-size: 16px;
}
ul.icon_list{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-top: 20px;
}
ul.icon_list li{
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
}
ul.icon_list li a{
    display: inline-block;
    color: #636363;
    border: 1px solid #636363;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    transition: all 1s;
}
ul.icon_list li a:hover{
     color: #f73b56;
     border-color:#f73b56;
}
.copyright_text{
    padding-top: 80px;
}
.copyright_text p{
    color: #636363;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 0px;
    letter-spacing: 0px;
}
.copyright_text a{
     color:#f73b56;
     text-transform:uppercase;
     font-weight:700;
     text-decoration:none;
}
.unslick .slick__slide, .slick-initialized .slick__slide {
     text-align: center;
     color: #000;
     text-shadow: 1px 1px #000;
}
.affix {
     top:0;
     width: 100%;
     z-index: 9999 !important;
}
.slick img {
     min-height: 600px !important
}
/*** Custom ***/
.top-slider {
    max-height:564px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:5;
}
.main-container:not(.secondary-page){
    position: relative;
    z-index: 10;
    overflow:auto;
    background:inherit;
}
.main-container:not(.secondary-page){
	top: 564px;
}
/* theme - #016294*/
h1,h2,h3,h4,h5,h6 {
}
i {
     color: #016294 !important;
}
.single_service i {
     border: 2px solid #016294;
     width: 85px;
     height: 85px;
     padding: 25px;
     border-radius: 45px; 
}
.services .container {
     border-bottom:1px solid #016294;
}
.single_progress_bar h2{
    color:#016294;
}
.single_progress_bar .progress-bar{
     background-color: #016294;
}
.slick--skin--fullwidth .sldr-smry {
    
    margin: 20px 80px;
	min-height: 108px;
}
.overlay {
     position: absolute;
     width: 100%;
     height: 100%;
     z-index: 2;
     background-color: #080d15;
     opacity: .7;
}
.tryus {
     background-color:#016294;
     border:2px solid #fff;
     font-weight:bold;
     margin:100px auto;
     cursor: pointer;
}
.tryus a {
     color:#fff;
     text-decoration: none;
	 font-size: 1.8rem;
}
.form_submit {
     background-color:#016294;
     color: #fff;
}
.form_submit:hover {
     background-color:#fff;
     color: #016294;
}
.alert-danger {
     background-color:#016294;
     color:#fff;
     border-color:#fff;
}
.view-display-id-block_services .view-header #services h2{
    text-align:center;
}
.skills__skill {
    width: 190px;
    height: 190px;
    position: relative;
    padding: 10px;
	margin: 0 auto;
}
.skills__item {
    border: 1px solid #F0F0F0;
    border-radius: 15px;
    width: 170px;
    max-height: 170px;
    display: block;
    vertical-align: top;
    background: #ffffff;
    top: 10px;
    left: 10px;
    overflow: hidden;
    z-index: 10;
}
.skills__item:hover {
    box-shadow: 0 0 35px rgba(2,64,107,0.2);
    max-height: 260px;
    z-index: 100;
}
.skills__item-wrap {
    position: relative;
    width: 170px;
}
.skills__item-wrap img {
    display: block;
    margin: auto;
    width: 80%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.skills__item-wrap .text-content--small {
    font-size: 13px;
    color: #999;
	padding-bottom: 5%;
}
.skills__description {
    display: none;
    font-family: Arial;
    color: #adadad;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 13px;
    padding: 0 20px 20px;
    text-align: center;
}
.view-our-skills-homepage {
    border-bottom: 1px solid #016294;
}
#block-aboutushome, #block-views-block-homepage-services-block-services {
    margin: 50px auto;
}

.block-views-blockour-skills-homepage-block-1 .view-content {
	padding: 50px 0;
}
/**Main Menu **/
.navbar-default .navbar-nav>li>a {
	color: #016294;
	font-size: 1.8rem;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #000;
	border-radius:45px;
}
#block-ninetyone-main-menu ul{
	float:right;
}
.navbar-nav > li {
	margin:20px 0px 8px 6px;
}
.navbar-nav > li:hover {
	/*background-color: #016294; 
	border-radius:45px;*/
}
.navbar {
	margin-bottom: 0px;
}
.section_overlay > .navbar-default
{
  border-bottom:2px solid #016294;
}
.navbar-default .navbar-nav>li>a.active-link {
  color: #000;
  border-radius:45px;
}
/**Main Menu Ends**/
.view-id-our_skills_homepage .view-content .views-view-grid .views-col:hover {
	z-index: 5555 !important;	
}
/** Home page slide title **/
.slide__title {
    font-size: 6.5rem;
	text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
    -webkit-text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
    -moz-text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
    -ms-text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
    -o-text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
section.contact {
/*	margin-top: 35px;*/
}

/** User Profile ***/
.inner-content {
	margin: 2%;
}
/** User Pattern Style **/
.user-pattern-details,
.user-pattern-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  left: 0;
}
.user-pattern-bg img{
  width:100%;	
  height: 560px;
}

.user-pattern-details {
  z-index: 10;
  text-align: center;
  margin: 10px auto;
}
.usr-pic img {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.usr-name {
	font-size: 2.2em;
	font-weight: 500;
	color: #fff;
	text-transform: capitalize;
}
.top-header .overlay {
	opacity: 0.2;
}
/* Animation */
 
.anim-slogan{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
   margin: 0 auto;
}
/* @keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
} */
.expertise .field-content > ul {
    margin: 0 auto;
    text-align: center;
}
.expertise .field-content > ul li {
    display: inline-block;
    vertical-align: top;
	font-weight: bold;
	font-size: 1.1em;
	margin: 2%;
} 
.user-login-content > div, .user-register > div {
	border: 10px solid;
    align-items: center;
    margin: 10% auto;
    padding: 2%;
	background-color: whitesmoke;
}
.center-content {
	margin: 0 auto;
}
section.user-login-content, section.user-register {
	
	overflow: hidden;
    background-position: center;
    background-size: 1300px 800px;
}
section.user-login-content {
	background-image: url('../images/background-image.jpg');
}
section.user-register{
	background-image: url('../images/register-bg-image.jpg');
}	
/**
* Slider
*/
.media.media--slick.media--image {
	-webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
}
.fixsection img {
  height: 560px;
  width: 100%;
}
