
{# Header #}
  {% if page.header %}
	{{ page.header }}
  {% endif %}

 <!-- Body -->
<div class="main-container">
	<header>
	  <div class="section_overlay test">
		  
			{# Highlighted #}
		   {% if page.highlighted %}
			{% block highlighted %}
			  <div class="highlighted">
			   {{  page.highlighted }}
			  </div>
			{% endblock %}
			{% endif %}
			
		  {# Breadcrumbs #}
		  {% if breadcrumb %}
			{% block breadcrumb %}
			  {{ breadcrumb }}
			{% endblock %}
		  {% endif %}

			{# Help #}        
			{% if page.help %}
			  {% block help %}	  
				{{ page.help }}
			  {% endblock %}
			  {% endif %}
	  </div>
	</header>
	
	<section class="inner-content">
		{# Content #}
			  {% if page.content %}
				{% block content %}
					{{ page.content }}
				{% endblock %}
			  {% endif %}
	</section>
    <!-- Footer -->
	<footer class="" role="contentinfo">
      <div class="container">
	    {% if page.footer %}
           {% block footer %}
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="footer_logo wow fadeInUp animated">
						{{ page.footer }}
                    </div>
                </div>
            </div>
	      {% endblock %}
        {% endif %}
		
		{% if page.footer_bottom %}
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="footer_logo wow fadeInUp animated">
              {{ page.footer_bottom }}
            </div>
		  </div>
		</div>
		{% endif %}
      </div>
    </footer>
</div> <!--main-container ends -->