<section class="user-register">
<div class="col col-lg-4">
<a href="{{ front_page }}"><img class="img-responsive center-content" src="{{ logopath }}" /></a>
<h2>Create New Account</h2>
	{# Content #}
		{% if page.content %}
			{% block content %}
				{{ page.content }}
			{% endblock %}
	    {% endif %}
  <div style="margin-top:1%;">
	<a href="/user/login" class="btn btn-primary">Login</a> 
  </div>
</div>
</section>