<section class="user-login-content">
<div class="col col-lg-4">
<a href="{{ front_page }}"><img class="img-responsive center-content" src="{{ logopath }}" /></a>
<h2>Login to your account</h2>
	{# Content #}
		{% if page.content %}
			{% block content %}
				{{ page.content }}
			{% endblock %}
	    {% endif %}
	<div style="margin-top:1%;">
	<a href="/user/register" class="btn btn-success">Create New Account</a> 
	</div>
</div>
</section>